.container {
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
  width: 300px;
  border-radius: 5px;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}

div {
  font-family: Arial;
  font-weight: 500;
}

button {
  background-color: rgb(11, 112, 226);
  color: white;
  border: none;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px
}