.uber-button {
  background-color: black;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.uber-button:hover {
  opacity: 0.8;
}

.amazon-button {
  background-color: rgb(255, 216, 20);
  color: black;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 47px;
  padding-right: 47px;
  border-style: solid;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.amazon-button:hover {
  background-color: rgb(238, 184, 8);
}

.github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  border-radius: 6px;
  font-weight: bold;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: box-shadow 0.15s;
}

.github-button:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15)
}

.bootstrap-button {
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 6px;
  transition: background-color 0.15s
}

.bootstrap-button:hover {
   background-color: rgb(97, 59, 155);
}

.bootstrap2-button {
  background-color: white;
  color: rgb(108, 117, 125);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(108, 117, 125);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.bootstrap2-button:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}

.linkedin-button {
  background-color: rgb(10, 102, 194);
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}

.linkedin-button:hover {
  background-color: rgb(37, 77, 117);
}

.linkedin2-button {
  background-color: white;
  color: rgb(10, 102, 194);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 13px;
  border-style: solid;
  border-color: rgb(10, 102, 194);
  border-radius: 15px;
  border-width: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s, border-width 0.15s; padding: 0.15s;
}

.linkedin2-button:hover {
  background-color: rgb(210, 227, 247);
  border-width: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
}