p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 5px;
}

.mutual-friends-image {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  object-fit: cover;
  vertical-align: middle;
}

.mutual-friends-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  color: rgb(100, 100, 100);
  font-size: 16px;
}

.mutual-friends {
  margin-bottom: 10px;
  margin-left: 8px;
}

.profile-preview {
  width: 200px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  margin-right: 15px;
  display: inline-block;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: 8px;
}

.add-friend-button {
  background-color: rgb(24, 119, 242);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 8px;
  margin-bottom: 10px;

}