.name {
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  border-style: solid;
  margin-bottom: 10px;
}

.email {
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  font-size: 20px;
  border-radius: 5px;
  display: block;
  border-style: solid;
}