.name {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  width: 148px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin-bottom: 10px;
  font-size: 16px;
}

.email {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  width: 335px;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

.button {
  background-color: rgb(42, 149, 248);
  color: white;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 370px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}